<%- include('../partials/header') %>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      - 
      <%= s.learned ? 'learned' : 'not learned' %>
    </li>
    <% }); %>
  </ul>
  
  <%- include('../partials/footer') %>